@page
@using System.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CheckersWebApp.Pages.CheckersGames.Play

@{
    Layout = null;
    ViewData["Title"] = "Game";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CheckersWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>
<body class="d-flex justify-content-center">

<div class="d-flex game-div">
    
    <div class="left-side-of-game d-flex flex-column">
        
        @* ======== Board ======== *@
        <div id="gameBoard" class="game-board border border-1 border-danger d-flex flex-column justify-content-end align-items-end">
            @Html.Raw(HttpUtility.HtmlDecode(ConvertStateStringToHtml()))
        </div>

        @* ======== Action Buttons ======== *@
        <div class="action-buttons d-flex flex-row align-items-center">
            <div><a asp-page="./Index" type="submit" class="btn btn-dark text-white">
                    <span class="home-icon">⌂</span>
                </a>
            </div>
            <div><button class="btn btn-dark text-white" id="reverse-move-button">
                <dix class="go-back-icon">↵</dix>
            </button></div>
            <div><button type="submit" class="btn @GetStartNewGameButtonClass() text-white" id="restart-game-button">
                    <dix class="reset-game-icon">↺</dix>
                </button>
            </div>
            <div><button type="submit" class="btn btn-dark text-white" id="player-surrender-button">
                    
                    <svg class="surrender-icon" id="Flag_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 301.596 301.596" xml:space="preserve" fill="white">
                        <g>
                            <path d="M42.594,15c0-8.284-6.716-15-15-15c-8.284,0-15,6.716-15,15v271.596c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15
                                                 	V167.878c0.001,0.001,0.003,0.001,0.004,0.002L42.594,15z"/>
                            <path d="M241.884,82.119c-2.612-3.511-2.582-8.23,0.073-11.421c14.179-16.938,28.766-30.829,42.537-41.913
                                                 	c12.138-9.769-3.688-16.893-7.238-18.387C205.001-20.024,132.811,43.637,60.598,24.255v150.269
                                                 	c72.321,19.395,144.643-44.541,216.963-13.724c3.53,1.495,6.753,1.127,8.306-1.213c1.553-2.331,1.167-6.335-0.995-10.258
                                                 	C270.543,123.431,256.213,101.49,241.884,82.119z"/>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    
                </button>
            </div>
        </div>
    </div>

    @* ======== HUB ======== *@
    
    @* ======== Player 1 ======== *@
    <div class="game-hub d-flex flex-column justify-content-between align-items-center">
        <div class="mt-4 hub-container border border-3 border-dark d-flex flex-column justify-content-between align-items-center player-container">
            <div class="fs-5 fw-bold player-name-div"><span class="player-name">&nbsp;@Model.CheckersGame.GamePlayer2!.PlayerName</span></div>
            <div class="player-separator-line"></div>
            <div class="pieces-left-div d-flex justify-content-between"><div class="d-flex align-items-center">
                 <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 512 512" class="checkers-piece-icon" xml:space="preserve">
                     <g><g><g><path d="M256,80.574C159.27,80.574,80.574,159.27,80.574,256S159.27,431.426,256,431.426S431.426,352.73,431.426,256
                            S352.73,80.574,256,80.574z M256,411.028c-85.483,0-155.028-69.545-155.028-155.028S170.517,100.972,256,100.972
                            S411.028,170.517,411.028,256S341.483,411.028,256,411.028z"/>
                         <path d="M437.02,74.98C388.667,26.628,324.38,0,256,0S123.333,26.628,74.98,74.98C26.628,123.333,0,187.62,0,256
                            s26.628,132.667,74.98,181.02C123.333,485.372,187.62,512,256,512s132.667-26.628,181.02-74.98
                            C485.372,388.667,512,324.38,512,256S485.372,123.333,437.02,74.98z M256,491.602c-129.911,0-235.602-105.69-235.602-235.602
                            S126.089,20.398,256,20.398S491.602,126.089,491.602,256S385.911,491.602,256,491.602z"/></g></g></g>
                     <g><g><path d="M378.805,428.055c-3.052-4.733-9.363-6.098-14.098-3.047c-32.392,20.879-69.982,31.915-108.706,31.915
                        c-5.633,0-10.199,4.566-10.199,10.199c0,5.633,4.566,10.199,10.199,10.199c42.652,0,84.064-12.161,119.758-35.169
                        C380.492,439.102,381.856,432.79,378.805,428.055z"/></g></g>
                     <g><g><path d="M413.816,396.61c-4.02-3.945-10.477-3.886-14.424,0.134c-2.113,2.153-4.311,4.294-6.535,6.363
                        c-4.122,3.838-4.353,10.292-0.515,14.415c2.009,2.158,4.734,3.249,7.468,3.249c2.489,0,4.983-0.905,6.947-2.733
                        c2.446-2.277,4.866-4.633,7.192-7.004C417.896,407.013,417.836,400.556,413.816,396.61z"/></g>
                     </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                 </svg>
             </div>
                <div>
                    <span class="pieces-left">&nbsp;@Model.GameBrain.GetCurrentGameState().BlacksLeft</span>
                </div>
                </div>
        </div>
        @* ======== Whose turn ======== *@
        <div class="mt-1 mb-1 hub-container border border-3 border-dark d-flex flex-row justify-content-center align-items-center">
            <div class="current-turn-and-time-emoji">👤</div>
            <div class="current-turn">@GetCurrentTurnString()</div>
        </div>
        
        @* ======== Time ======== *@
        <div class="mt-1 mb-1 hub-container border border-3 border-dark d-flex flex-row justify-content-center align-items-center">
            <div class="current-turn-and-time-emoji">🕒</div>
            <div class="game-played-for">00:00:00</div>
        </div>
        
        @* ======== Player 2 ======== *@
        <div class="mb-4 hub-container border border-3 border-dark d-flex flex-column align-items-center justify-content-between player-container">
            
            <div class="fs-5 fw-bold player-name-div"><span class="player-name">&nbsp;@Model.CheckersGame.GamePlayer1!.PlayerName</span></div>

            <div class="player-separator-line"></div>
            <div class="pieces-left-div d-flex justify-content-between">
                <div class="d-flex align-items-center"><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                            viewBox="0 0 512 512" class="checkers-piece-icon white-piece" xml:space="preserve">
                        <g><g><g><path d="M256,80.574C159.27,80.574,80.574,159.27,80.574,256S159.27,431.426,256,431.426S431.426,352.73,431.426,256
                				S352.73,80.574,256,80.574z M256,411.028c-85.483,0-155.028-69.545-155.028-155.028S170.517,100.972,256,100.972
                				S411.028,170.517,411.028,256S341.483,411.028,256,411.028z"/>
                            <path d="M437.02,74.98C388.667,26.628,324.38,0,256,0S123.333,26.628,74.98,74.98C26.628,123.333,0,187.62,0,256
                				s26.628,132.667,74.98,181.02C123.333,485.372,187.62,512,256,512s132.667-26.628,181.02-74.98
                				C485.372,388.667,512,324.38,512,256S485.372,123.333,437.02,74.98z M256,491.602c-129.911,0-235.602-105.69-235.602-235.602
                				S126.089,20.398,256,20.398S491.602,126.089,491.602,256S385.911,491.602,256,491.602z"/></g></g></g>
                        <g><g><path d="M378.805,428.055c-3.052-4.733-9.363-6.098-14.098-3.047c-32.392,20.879-69.982,31.915-108.706,31.915
                			c-5.633,0-10.199,4.566-10.199,10.199c0,5.633,4.566,10.199,10.199,10.199c42.652,0,84.064-12.161,119.758-35.169
                			C380.492,439.102,381.856,432.79,378.805,428.055z"/></g></g>
                        <g><g><path d="M413.816,396.61c-4.02-3.945-10.477-3.886-14.424,0.134c-2.113,2.153-4.311,4.294-6.535,6.363
                			c-4.122,3.838-4.353,10.292-0.515,14.415c2.009,2.158,4.734,3.249,7.468,3.249c2.489,0,4.983-0.905,6.947-2.733
                			c2.446-2.277,4.866-4.633,7.192-7.004C417.896,407.013,417.836,400.556,413.816,396.61z"/></g>
                        </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    
                </div>
                <div>
                    <span class="pieces-left">&nbsp;@Model.GameBrain.GetCurrentGameState().WhitesLeft</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
addOnClickListeners()
</script>

</body>
</html>

@functions
{
    string ConvertStateStringToHtml()
    {

        return Html.Encode(Model.RenderedFrontEndBoard);
    }

    string GetCurrentTurnString()
    {
        if (Model.CheckersGame.GameOverAt != null) return $"Winner: {Model.CheckersGame.GameWonByPlayer!.PlayerName}";
        return Model.GameBrain.GetCurrentGameState().CurrentMoveByWhite ? "Whites Turn" : "Blacks Turn";
    }

    string GetStartNewGameButtonClass()
    {
        return Model.CheckersGame.GameOverAt == null ? "btn-dark" : "btn-success";
    }
}
