@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to checkers Web application 🏁</h2>
    <p class="mt-3 text-center mt-2">An application to play checkers, which also stores players' game history, played games and also allows to make custom options</p>
</div>
